# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
desktop.ini
Thumbs.db

# Temporary files
*.tmp
*.temp

# Document files (not part of code)
*.docx
*.pdf
*.txt
*.lnk

# Other projects
T-Ops/
T-Ops-frontend/
